
@define-color base00 rgba(22, 22, 22, 1);   /* #161616 */
@define-color base01 rgba(38, 38, 38, 1);   /* #262626 */
@define-color base02 rgba(57, 57, 57, 1);   /* #393939 */
@define-color base03 rgba(82, 82, 82, 1);   /* #525252 */
@define-color base04 rgba(221, 225, 230, 0.25);/* #dde1e6 */
@define-color base05 rgba(242, 244, 248, 1);/* #f2f4f8 */
@define-color base06 rgba(255, 255, 255, 1);/* #ffffff */
@define-color base07 rgba(8, 189, 186, 1);  /* #08bdba */
@define-color base08 rgba(61, 221, 217, 1); /* #3ddbd9 */
@define-color base09 rgba(120, 169, 255, 1);/* #78a9ff */
@define-color base10 rgba(238, 83, 150, 1); /* #ee5396 */
@define-color base11 rgba(51, 177, 255, 1); /* #33b1ff */
@define-color base12 rgba(255, 126, 182, 1);/* #ff7eb6 */
@define-color base13 rgba(66, 190, 101, 1); /* #42be65 */
@define-color base14 rgba(190, 149, 255, 1);/* #be95ff */
@define-color base15 rgba(130, 207, 255, 1);/* #82cfff */
@define-color clear rgba(255, 255, 255, 0); /* #ffffff00 (fully transparent) */


* {
    font-family: "Inter Variable", "Font Awesome 6 Free";
    font-size: 1rem;
}


window#waybar {
    background: rgba(15, 15, 15, 0.98);
    transition-property: background-color;
    transition-duration: .2s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: @base02;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px @base06;
}
#workspaces button.active {
    box-shadow: inset 0 -2px @base06;
}

/* #workspaces button.urgent { */
/*     background-color: @base10; */
/* } */

#mode {
    background-color: @base09;
    color: @base06;
    padding: 0 5px;
}

#clock,
#battery {
    padding: 0 0.625rem;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* If custom-search is the leftmost module, add left margin */
.modules-left>widget:first-child>#custom-search {
    color: white;
    margin: 0 0.4rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}


/* If network is the rightmost module, add right margin */
.modules-right>widget:last-child>#network {
    margin-right: 0.4rem;
}

#pulseaudio {
    font-size: 0.75rem;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#window,
#tray,
#idle_inhibitor,
#scratchpad,
#language,
#title,
#mpd {
    margin: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #ffffff;
}

#mpris {
    font-size: 0.85rem;
}
