@define-color bg00 rgba(22, 22, 22, 1);   /* #161616 */
@define-color bg01 rgba(38, 38, 38, 1);   /* #262626 */
@define-color bg02 rgba(57, 57, 57, 1);   /* #393939 */
@define-color bg03 rgba(82, 82, 82, 1);   /* #525252 */
@define-color fg0 rgba(255, 255, 255, 1); /* #ffffff */
@define-color blue-40  #78a9ff;
@define-color magenta-50  #ee5396;
@define-color clear rgba(255, 255, 255, 0); /* #ffffff00 (fully transparent) */

* {
    font-family: AdwaitaMono Nerd Font;
}


window#waybar {
    background: @bg00;
    transition-property: background-color;
    transition-duration: .2s;
    box-shadow: inset 0 -1px rgba(255,255,255, 0.05);
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 0.25rem;
    color: @bg03;
}

#workspaces button:hover {
    background-color: @bg00;
}


#workspaces button:hover:not(.focused) {
    background-color: @blue-40;
    color: @bg00;
}

#workspaces button.focused {
    color: @fg0;
    box-shadow: inset 0 -2px @blue-40;
}

#workspaces button.active {
    color: @fg0;
    box-shadow: inset 0 -2px @blue-40;
}

/* #workspaces button.urgent { */
/*     background-color: @base10; */
/* } */

#mode {
    color: @bg00;
    background-color: @magenta-50;
    padding: 0 5px;
}

#clock {
    padding: 0 0.625rem;
}

#battery {
    padding: 0 0.625rem;
    background-color: @base06;
    color: @base00;
}

#battery.charging {
    color: @base06;
    background-color: @base13;
}

@keyframes blink {
    to {
        background-color: @blue-40;
        color: @bg01;
    }
}

#battery.warning:not(.charging) {
    background: @base10;
    color: @base06;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* If custom-search is the leftmost module, add left margin */
.modules-left>widget:first-child>#custom-search {
    margin: 0 0.4rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}


/* If network is the rightmost module, add right margin */
.modules-right>widget:last-child>#network {
    margin-right: 0.4rem;
}

#pulseaudio {
    font-size: 0.75rem;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#window,
#tray,
#idle_inhibitor,
#scratchpad,
#language,
#title,
#mpd {
    margin: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#custom-tailscale.disconnected:hover {
    color: @blue-40;
}

#custom-tailscale.connected {
    color: @fg0;
}

#custom-tailscale.connected:hover {
    color: @magenta-50;
}

#custom-tailscale.disconnected {
    color: @bg03;
}
